body{
   color:#4c4d5f;
   margin: 0; 
   padding: 0 80px;

}
a{
    color: #4c4d5f;
    text-decoration: none;
}
li{
    list-style: none;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
}

#serviceEl ul{
   display: flex;
    flex-direction: row; 
    gap: 30px;
}

#CATEl ul{
   display: flex;
    flex-direction: row; 
    gap: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 200px;
    
}



.switchToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
   
}


.label {
    font-size: 10px;
    font-weight: bold;
    color:#4c4d5f ; 
    transition: color 0.3s;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px; 
    height: 34px; 
}



.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00b289; 
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px; 
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4c4d5f;
}

input:checked + .slider:before {
    transform: translateX(26px);
}


.freeMonths {
    position: absolute;
    top: -17px; 
    right: -10px; 
    color: #00b289;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    line-height: 1.2;
}

.arrow {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 6px;
    right: -70px;
    transform: rotate(180deg); 
    pointer-events: none; 
}

.cash{
    font-size: 40px;
}

.divider{
    
    width: 100%; 
    border-bottom: 3px solid #00b289; 
    height: 0; 
    margin: 20px 0; 
}
.workFlow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   margin-top: 50px;
   padding: 0 200px;
    border-radius: 10px;
}

.workFlow button{
    background-color: #00b289;
    color: white;
    font-weight: bold;
    padding: 10px 100px;
    border-style: none;
    border-radius: 5px;
}

.workflowPlus{
    border-style:solid;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 5px 30px;
}

.workflowEl{
    border-style:solid;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 5px 30px;
}

.partnersEl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 800px; 
    padding: 20px;
    border-radius: 10px;  
    border-style: groove;
   margin-top: 10px;
   margin: 0 auto 20px auto;
   
}
.paragraphEl{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.CAT{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 800px; 
    padding: 40px;
    border-radius: 10px;  
    border-style:none;
    background-color: rgba(189, 213, 243, 0.2);
   margin-top: 10px;
   margin: 0 auto 20px auto;

}

.CAT button{
    background-color: #00b289;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
}
.CAT p{
    font-size: 20px;
}

.all{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#quizes{
    margin-left: 30px;
}
